name: master_push
on:
  push:
    branches:
      - 'master'
jobs:
  build_test_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: build
        run: source/build.sh
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.KEY }}
          aws-secret-access-key: ${{ secrets.OSECRET }}
          aws-region: eu-west-1
      - name: Copy files to the test website with the AWS CLI
        run: |
            aws s3 sync ./output/ s3://craft-or-corporate.coldclimate.co.uk --acl public-read --delete